################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/WebAPITest1/obj
/WebAPITest2/bin/Release/net9.0
/WebAPITest2/obj
/WebAPITest1/.vs/WebAPITest1/FileContentIndex
