################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/WebAPITest1/obj
/WebAPITest2/bin/Release/net9.0
/WebAPITest2/obj
/WebAPITest1/.vs/WebAPITest1/FileContentIndex
/WebAPITest1/.vs/ProjectEvaluation
/WebAPITest1/bin/Release/net9.0
/WebAPITest3/bin/Release/net9.0
/WebAPITest3/obj
/WebApplication1
/WebApplication2
/WebApplication3
/WebAPITest4/bin/Release/net9.0
/WebAPITest4/obj
/WebAPIWithOpenAPI/bin/Release/net9.0
/WebAPIWithOpenAPI/obj
/WebAPITest5/.vs
/WebAPITest5/bin/Release/net9.0
/WebAPITest5/obj
